
{% extends 'base/base.html'%}
{% block title %} Home  {% endblock %}

{% block body %} 
<br>
<br>
<link href="/static/css/error.css" rel="stylesheet" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<br>
<br>
<br>
		<div class="wrapper">

					
			<div class="container-fluid" id="body-container-fluid">
				<div class="container">
						<div class="jumbotron">
							<h1>Ha ocurrido un error ineserado</h1>

						<h1 class="display-1"><i class="fa  fa-spin fa-cog fa-3x"></i></h1>
						<h1 class="display-3">ERROR</h1>
						<p class="lower-case">El error a sido enviado por correo electronico.</p>
						<p class="lower-case">Estamos trabajando en el error.</p>

						</div>
				</div>
			</div>

				
			
		</div>
{% endblock %}