{% extends 'base/baseCliente.html'%}
{% block title %} Index  {% endblock %} 


{% from "_macro.html" import render_field %}

{% block body %} 
   
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                     {% for row in Cliente %}
                    <h1> Bienbenid@ {{ row.1 }} </h1>
                    <p>[Listo para empesar a Comprar]</p>
                       {% endfor %}
                </div>
            </div>
        </div>
    </header>
<br>
	<br>
	<br> 


<section class="team">
<div class="container">
   <div class="starter-template">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">
    <div class="col-lg-12">          
      <br>
         <br>
          <div class="row pt-md">
            {% for row in Productos %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <div class="img-box">
                 {% if row.8 != null %}
                <img src="/{{ row.8 }}" class="img-responsive"/>
                 {% else %} 
                 <img src="/static/img/pro.png" class="img-responsive"/> 
                  {% endif %}                   
              <ul class="text-center">
                  <a href="/detalleProductoC/{{ row.0 }}"><li><i class="glyphicon glyphicon-info-sign" ></i></li></a>
                </ul>
              </div>
              <h1>{{ row.2 }}</h1>
              <p>Precio $ {{ row.3 }}</p>
              <p>Stock #{{ row.4 }}</p>
               {% if row.7 == 1 %}
                   <p>Categoria: Auto</p>
               {% endif %}    
               {% if row.7 == 2 %}
                   <p>Categoria: Bebe</p>
               {% endif %}  
               {% if row.7 == 3 %}
                   <p>Categoria: Niño</p>
               {% endif %}  
               {% if row.7 == 4 %}
                   <p>Categoria: Niña</p>
               {% endif %}  
               {% if row.7 == 5 %}
                   <p>Categoria: Hombre</p>
               {% endif %}  
               {% if row.7 == 6 %}
                   <p>Categoria: Mujer</p>
               {% endif %}  
               {% if row.7 == 7 %}
                   <p>Categoria: Electronicos</p>
               {% endif %}            
               {% if row.7 == 8 %}
                   <p>Categoria: Deportes</p>
               {% endif %}  
               {% if row.7 == 9 %}
                   <p>Categoria: Entretenimiento</p>
               {% endif %}  
               {% if row.7 == 10 %}
                   <p>Categoria: Libros</p>
               {% endif %}  
               {% if row.7 == 11 %}
                   <p>Categoria: Cocina y hogar</p>
               {% endif %}  
               {% if row.7 == 12 %}
                   <p>Categoria: Juegos y jugetes</p>
               {% endif %}  
               {% if row.7 == 13 %}
                   <p>Categoria: Accesosrios</p>
               {% endif %}  
               {% if row.7 == 14 %}
                   <p>Categoria: ciencia e incustria</p>
               {% endif %}  
               {% if row.7 == 15 %}
                   <p>Categoria: Herramientas y cosas para el hogar</p>
               {% endif %}  
                 {% if row.7 == 16 %}
                   <p>Categoria: Otros</p>
               {% endif %}              
            </div>
          {% else %}
            <br>
            <br>
           <hi>No hay registros</hi>
          {% endfor %}
          </div>
        </div>
      </div>         
       </div>
   </div>
</div>
</section>

{% endblock %} 